<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhijian.ebook.dao.BookMapper" >
  <resultMap id="BaseResultMap" type="com.zhijian.ebook.entity.Book" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="isbn" property="isbn" jdbcType="VARCHAR" />
    <result column="isbn10" property="isbn10" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="publisher" property="publisher" jdbcType="VARCHAR" />
    <result column="pubplace" property="pubplace" jdbcType="VARCHAR" />
    <result column="pubdate" property="pubdate" jdbcType="TIMESTAMP" />
    <result column="page" property="page" jdbcType="INTEGER" />
    <result column="dep_price" property="depPrice" jdbcType="DOUBLE" />
    <result column="deposit" property="deposit" jdbcType="DOUBLE" />
    <result column="e_price" property="ePrice" jdbcType="DOUBLE" />
    <result column="is_note" property="isNote" jdbcType="BIT" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="binding" property="binding" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="edition" property="edition" jdbcType="VARCHAR" />
    <result column="impression" property="impression" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="format" property="format" jdbcType="VARCHAR" />
    <result column="class_id" property="classId" jdbcType="VARCHAR" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="major_id" property="majorId" jdbcType="VARCHAR" />
    <result column="college" property="college" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="hot_value" property="hotValue" jdbcType="INTEGER" />
    <result column="profession" property="profession" jdbcType="VARCHAR" />
    <result column="academy" property="academy" jdbcType="VARCHAR" />
    <result column="init_cost" property="initCost" jdbcType="DOUBLE" />
    <result column="other_cost" property="otherCost" jdbcType="DOUBLE" />
    <result column="save_cose" property="saveCose" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, isbn, isbn10, title, subtitle, icon, author, summary, publisher, pubplace, pubdate, 
    page, dep_price, deposit, e_price, is_note, degree, binding, keyword, edition, impression, 
    language, format, class_id, class_name, major_id, college, grade, hot_value, profession, 
    academy, init_cost, other_cost, save_cose
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhijian.ebook.entity.BookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from e_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from e_book
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from e_book
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhijian.ebook.entity.BookExample" >
    delete from e_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhijian.ebook.entity.Book" >
  <selectKey keyProperty="id" resultType="String" order="BEFORE">
        SELECT REPLACE(UUID(),'-','')
    </selectKey>
    insert into e_book (id, isbn, isbn10, 
      title, subtitle, icon, 
      author, summary, publisher, 
      pubplace, pubdate, page, 
      dep_price, deposit, e_price, 
      is_note, degree, binding, 
      keyword, edition, impression, 
      language, format, class_id, 
      class_name, major_id, college, 
      grade, hot_value, profession, 
      academy, init_cost, other_cost, 
      save_cose)
    values (#{id,jdbcType=VARCHAR}, #{isbn,jdbcType=VARCHAR}, #{isbn10,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{publisher,jdbcType=VARCHAR}, 
      #{pubplace,jdbcType=VARCHAR}, #{pubdate,jdbcType=TIMESTAMP}, #{page,jdbcType=INTEGER}, 
      #{depPrice,jdbcType=DOUBLE}, #{deposit,jdbcType=DOUBLE}, #{ePrice,jdbcType=DOUBLE}, 
      #{isNote,jdbcType=BIT}, #{degree,jdbcType=VARCHAR}, #{binding,jdbcType=VARCHAR}, 
      #{keyword,jdbcType=VARCHAR}, #{edition,jdbcType=VARCHAR}, #{impression,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{format,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, 
      #{className,jdbcType=VARCHAR}, #{majorId,jdbcType=VARCHAR}, #{college,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{hotValue,jdbcType=INTEGER}, #{profession,jdbcType=VARCHAR}, 
      #{academy,jdbcType=VARCHAR}, #{initCost,jdbcType=DOUBLE}, #{otherCost,jdbcType=DOUBLE}, 
      #{saveCose,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.zhijian.ebook.entity.Book" >
    insert into e_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isbn != null" >
        isbn,
      </if>
      <if test="isbn10 != null" >
        isbn10,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="publisher != null" >
        publisher,
      </if>
      <if test="pubplace != null" >
        pubplace,
      </if>
      <if test="pubdate != null" >
        pubdate,
      </if>
      <if test="page != null" >
        page,
      </if>
      <if test="depPrice != null" >
        dep_price,
      </if>
      <if test="deposit != null" >
        deposit,
      </if>
      <if test="ePrice != null" >
        e_price,
      </if>
      <if test="isNote != null" >
        is_note,
      </if>
      <if test="degree != null" >
        degree,
      </if>
      <if test="binding != null" >
        binding,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="edition != null" >
        edition,
      </if>
      <if test="impression != null" >
        impression,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="format != null" >
        format,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="className != null" >
        class_name,
      </if>
      <if test="majorId != null" >
        major_id,
      </if>
      <if test="college != null" >
        college,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="hotValue != null" >
        hot_value,
      </if>
      <if test="profession != null" >
        profession,
      </if>
      <if test="academy != null" >
        academy,
      </if>
      <if test="initCost != null" >
        init_cost,
      </if>
      <if test="otherCost != null" >
        other_cost,
      </if>
      <if test="saveCose != null" >
        save_cose,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null" >
        #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="isbn10 != null" >
        #{isbn10,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null" >
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="pubplace != null" >
        #{pubplace,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null" >
        #{pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="page != null" >
        #{page,jdbcType=INTEGER},
      </if>
      <if test="depPrice != null" >
        #{depPrice,jdbcType=DOUBLE},
      </if>
      <if test="deposit != null" >
        #{deposit,jdbcType=DOUBLE},
      </if>
      <if test="ePrice != null" >
        #{ePrice,jdbcType=DOUBLE},
      </if>
      <if test="isNote != null" >
        #{isNote,jdbcType=BIT},
      </if>
      <if test="degree != null" >
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="binding != null" >
        #{binding,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="edition != null" >
        #{edition,jdbcType=VARCHAR},
      </if>
      <if test="impression != null" >
        #{impression,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="format != null" >
        #{format,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="college != null" >
        #{college,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="hotValue != null" >
        #{hotValue,jdbcType=INTEGER},
      </if>
      <if test="profession != null" >
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="academy != null" >
        #{academy,jdbcType=VARCHAR},
      </if>
      <if test="initCost != null" >
        #{initCost,jdbcType=DOUBLE},
      </if>
      <if test="otherCost != null" >
        #{otherCost,jdbcType=DOUBLE},
      </if>
      <if test="saveCose != null" >
        #{saveCose,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhijian.ebook.entity.BookExample" resultType="java.lang.Integer" >
    select count(*) from e_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update e_book
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.isbn != null" >
        isbn = #{record.isbn,jdbcType=VARCHAR},
      </if>
      <if test="record.isbn10 != null" >
        isbn10 = #{record.isbn10,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.subtitle != null" >
        subtitle = #{record.subtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null" >
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.summary != null" >
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.publisher != null" >
        publisher = #{record.publisher,jdbcType=VARCHAR},
      </if>
      <if test="record.pubplace != null" >
        pubplace = #{record.pubplace,jdbcType=VARCHAR},
      </if>
      <if test="record.pubdate != null" >
        pubdate = #{record.pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.page != null" >
        page = #{record.page,jdbcType=INTEGER},
      </if>
      <if test="record.depPrice != null" >
        dep_price = #{record.depPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.deposit != null" >
        deposit = #{record.deposit,jdbcType=DOUBLE},
      </if>
      <if test="record.ePrice != null" >
        e_price = #{record.ePrice,jdbcType=DOUBLE},
      </if>
      <if test="record.isNote != null" >
        is_note = #{record.isNote,jdbcType=BIT},
      </if>
      <if test="record.degree != null" >
        degree = #{record.degree,jdbcType=VARCHAR},
      </if>
      <if test="record.binding != null" >
        binding = #{record.binding,jdbcType=VARCHAR},
      </if>
      <if test="record.keyword != null" >
        keyword = #{record.keyword,jdbcType=VARCHAR},
      </if>
      <if test="record.edition != null" >
        edition = #{record.edition,jdbcType=VARCHAR},
      </if>
      <if test="record.impression != null" >
        impression = #{record.impression,jdbcType=VARCHAR},
      </if>
      <if test="record.language != null" >
        language = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.format != null" >
        format = #{record.format,jdbcType=VARCHAR},
      </if>
      <if test="record.classId != null" >
        class_id = #{record.classId,jdbcType=VARCHAR},
      </if>
      <if test="record.className != null" >
        class_name = #{record.className,jdbcType=VARCHAR},
      </if>
      <if test="record.majorId != null" >
        major_id = #{record.majorId,jdbcType=VARCHAR},
      </if>
      <if test="record.college != null" >
        college = #{record.college,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.hotValue != null" >
        hot_value = #{record.hotValue,jdbcType=INTEGER},
      </if>
      <if test="record.profession != null" >
        profession = #{record.profession,jdbcType=VARCHAR},
      </if>
      <if test="record.academy != null" >
        academy = #{record.academy,jdbcType=VARCHAR},
      </if>
      <if test="record.initCost != null" >
        init_cost = #{record.initCost,jdbcType=DOUBLE},
      </if>
      <if test="record.otherCost != null" >
        other_cost = #{record.otherCost,jdbcType=DOUBLE},
      </if>
      <if test="record.saveCose != null" >
        save_cose = #{record.saveCose,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update e_book
    set id = #{record.id,jdbcType=VARCHAR},
      isbn = #{record.isbn,jdbcType=VARCHAR},
      isbn10 = #{record.isbn10,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      subtitle = #{record.subtitle,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      summary = #{record.summary,jdbcType=VARCHAR},
      publisher = #{record.publisher,jdbcType=VARCHAR},
      pubplace = #{record.pubplace,jdbcType=VARCHAR},
      pubdate = #{record.pubdate,jdbcType=TIMESTAMP},
      page = #{record.page,jdbcType=INTEGER},
      dep_price = #{record.depPrice,jdbcType=DOUBLE},
      deposit = #{record.deposit,jdbcType=DOUBLE},
      e_price = #{record.ePrice,jdbcType=DOUBLE},
      is_note = #{record.isNote,jdbcType=BIT},
      degree = #{record.degree,jdbcType=VARCHAR},
      binding = #{record.binding,jdbcType=VARCHAR},
      keyword = #{record.keyword,jdbcType=VARCHAR},
      edition = #{record.edition,jdbcType=VARCHAR},
      impression = #{record.impression,jdbcType=VARCHAR},
      language = #{record.language,jdbcType=VARCHAR},
      format = #{record.format,jdbcType=VARCHAR},
      class_id = #{record.classId,jdbcType=VARCHAR},
      class_name = #{record.className,jdbcType=VARCHAR},
      major_id = #{record.majorId,jdbcType=VARCHAR},
      college = #{record.college,jdbcType=VARCHAR},
      grade = #{record.grade,jdbcType=VARCHAR},
      hot_value = #{record.hotValue,jdbcType=INTEGER},
      profession = #{record.profession,jdbcType=VARCHAR},
      academy = #{record.academy,jdbcType=VARCHAR},
      init_cost = #{record.initCost,jdbcType=DOUBLE},
      other_cost = #{record.otherCost,jdbcType=DOUBLE},
      save_cose = #{record.saveCose,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhijian.ebook.entity.Book" >
    update e_book
    <set >
      <if test="isbn != null" >
        isbn = #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="isbn10 != null" >
        isbn10 = #{isbn10,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null" >
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="pubplace != null" >
        pubplace = #{pubplace,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null" >
        pubdate = #{pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="page != null" >
        page = #{page,jdbcType=INTEGER},
      </if>
      <if test="depPrice != null" >
        dep_price = #{depPrice,jdbcType=DOUBLE},
      </if>
      <if test="deposit != null" >
        deposit = #{deposit,jdbcType=DOUBLE},
      </if>
      <if test="ePrice != null" >
        e_price = #{ePrice,jdbcType=DOUBLE},
      </if>
      <if test="isNote != null" >
        is_note = #{isNote,jdbcType=BIT},
      </if>
      <if test="degree != null" >
        degree = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="binding != null" >
        binding = #{binding,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="edition != null" >
        edition = #{edition,jdbcType=VARCHAR},
      </if>
      <if test="impression != null" >
        impression = #{impression,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="format != null" >
        format = #{format,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        major_id = #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="college != null" >
        college = #{college,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="hotValue != null" >
        hot_value = #{hotValue,jdbcType=INTEGER},
      </if>
      <if test="profession != null" >
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="academy != null" >
        academy = #{academy,jdbcType=VARCHAR},
      </if>
      <if test="initCost != null" >
        init_cost = #{initCost,jdbcType=DOUBLE},
      </if>
      <if test="otherCost != null" >
        other_cost = #{otherCost,jdbcType=DOUBLE},
      </if>
      <if test="saveCose != null" >
        save_cose = #{saveCose,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhijian.ebook.entity.Book" >
    update e_book
    set isbn = #{isbn,jdbcType=VARCHAR},
      isbn10 = #{isbn10,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      publisher = #{publisher,jdbcType=VARCHAR},
      pubplace = #{pubplace,jdbcType=VARCHAR},
      pubdate = #{pubdate,jdbcType=TIMESTAMP},
      page = #{page,jdbcType=INTEGER},
      dep_price = #{depPrice,jdbcType=DOUBLE},
      deposit = #{deposit,jdbcType=DOUBLE},
      e_price = #{ePrice,jdbcType=DOUBLE},
      is_note = #{isNote,jdbcType=BIT},
      degree = #{degree,jdbcType=VARCHAR},
      binding = #{binding,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      edition = #{edition,jdbcType=VARCHAR},
      impression = #{impression,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      format = #{format,jdbcType=VARCHAR},
      class_id = #{classId,jdbcType=VARCHAR},
      class_name = #{className,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      hot_value = #{hotValue,jdbcType=INTEGER},
      profession = #{profession,jdbcType=VARCHAR},
      academy = #{academy,jdbcType=VARCHAR},
      init_cost = #{initCost,jdbcType=DOUBLE},
      other_cost = #{otherCost,jdbcType=DOUBLE},
      save_cose = #{saveCose,jdbcType=DOUBLE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 自定义 -->
  <select id="findPaginationList" resultMap="BaseResultMap">
		select
		<if test="example.distinct">
			#{example.distinct}
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from e_book
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
		<if test="example.orderByClause != null">
			order by ${example.orderByClause}
		</if>
		<if test="page != null">
			limit #{page.startRow},#{page.endRow}
		</if>
	</select>
  
</mapper>